{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Marquinhos Autopeças{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body style="background:red;">

    {% include 'components/header.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'components/footer.html' %}

</body>
</html>