{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Marquinhos Autopeças</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

  <div class="container">

    <header class="header" aria-label="Cabeçalho principal">

      <div class="logo" aria-label="Logo do site">
        Marquinhos<span>Autopeças</span>
      </div>

      <nav class="nav" aria-label="Menu principal">
        <a href="/">Início</a>
        <a href="{% url 'categoria' %}">Produtos</a>
        <a href="#">Serviços</a>
        <a href="#">Sobre</a>
        <a href="#">Contato</a>
      </nav>

      <div class="actions">

        <a href="#">
          <button class="cart-btn">
            🛒
            <span class="cart-count">3</span>
          </button>
        </a>

        <a href="#">
          <button class="cart-btn">
            👤
          </button>
        </a>

        <a href="#">
          <button>Login</button>
        </a>

        <a href="#">
          <button class="btn-primary">Cadastrar</button>
        </a>

      </div>

    </header>

    <section class="hero" aria-label="Destaque principal">

      <div class="hero-text">
        <h1>
          Peças automotivas de <span>alta performance</span>
        </h1>

        <p>
          Encontre tudo para manutenção e upgrade do seu veículo em um só lugar.
        </p>

        <button class="btn-secondary" aria-label="Ver produtos disponíveis">
          Ver Produtos
        </button>
      </div>

    </section>

    <section class="products" aria-label="Produtos em destaque">

      <h2>Destaques</h2>

      <div class="product-grid">
        
        {% if produtos %}
          {% for produto in produtos %}
          <article class="card">
          
            <div class="img">
              {% if produto.foto %}
                <img src="{{ produto.foto.url }}" alt="{{ produto.nome_produto }}" style="width: 100%; height: 100%; object-fit: cover;">
              {% endif %}
            </div>

            <span class="tag">{{ produto.categoria.nome|title }}</span>

            <h3>{{ produto.nome_produto|title }}</h3>

            <p>{{ produto.descricao|default:"Alta performance e segurança." }}</p>

            <span>R$ {{ produto.preco|floatformat:2 }}</span>
        
          </article>
          {% endfor %}
        {% else %}
          <h3>Não há novidades no momento</h3>
        {% endif %}

      </div>

    </section>

    <footer class="footer" aria-label="Rodapé">

      <p>© 2026 Marquinhos Autopeças</p>
      <p>Desenvolvido para alta performance automotiva 🏁</p>

    </footer>

  </div>

</body>
</html>