.auth-page{
  min-height:80vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:60px 20px;
}

.auth-card{
  width:450px;
  background:#141418;
  border-radius:14px;
  padding:30px;
  border:1px solid #1f1f24;
}

.auth-card h1{
  margin-bottom:25px;
}

.auth-form{
  display:flex;
  flex-direction:column;
  gap:15px;
}