{% extends 'loja_Automotiva/base.html' %}

{% block title %}
{{produto.nome_produto}}
{% endblock %}
{% block content %}
<!-- {} -->
<section class="catalog-header">
    <span class="tag">{{produto.categoria}}</span>
    
    <h1>{{produto.nome_produto}} | {{produto.codigo_produto}}</h1>
    
    <!-- <p>
        Melhore a entrada de ar do motor com maior eficiência e desempenho.
    </p> -->

</section>

    <section class="profile-page">

        <!-- Imagem -->
        <div class="profile-sidebar">
            
            {%if produto.foto%}
                <img
                src="{{produto.foto.url}}"
                alt="Filtro de Ar Esportivo"
                style="
                    width:100%;
                    border-radius:12px;
                    margin-bottom:20px;">
            {%endif%}
        </div>

        <!-- Informações -->
        <div class="profile-content">

            <div class="profile-card">

                <span class="tag">Performance</span>

                <h2>{{produto.nome_produto}} | {{produto.codigo_produto}}</h2>

                <!-- <p style="margin:15px 0;">
                    Produto desenvolvido para proporcionar melhor fluxo de ar ao motor,
                    contribuindo para desempenho e eficiência.
                </p> -->

                <h2 style="color:#ffcc00; margin:20px 0;">
                    R$ {{produto.preco|floatformat:2 }}
                </h2>

                <div style="
                    display:flex;
                    gap:15px;
                    align-items:center;
                    margin-top:20px;">

                    <label>Quantidade: {{produto.estoque}}</label>
                </div>
                <br>
                
                <input
                    type="number"
                    value="1"
                    min="1"
                    style="
                        width:80px;
                        padding:10px;
                        background:#1a1a1f;
                        border:1px solid #2a2a2a;
                        color:white;
                        border-radius:8px;
                    "
                ><br>

                <button
                class="btn-secondary"
                    style="margin-top:25px;"
                >
                    Adicionar ao Carrinho
                </button>

            </div>

            <div class="profile-card">

                <h3>Descrição</h3>

                <p>
                    {{produto.descricao}}
                </p>

            </div>

            <div class="profile-card">

                <h3>Especificações Técnicas</h3>

                <div class="info-grid">

                    <div>
                        <strong>Fabricante</strong>
                        <p>{{produto.fabricante}}</p>
                    </div>

                    <div>
                        <strong>Categoria</strong>
                        <p>{{produto.categoria}}</p>
                    </div>

                    <!-- <div>
                        <strong>Material</strong>
                        <p>Algodão Sintético</p>
                    </div> -->

                    <div>
                        <strong>Garantia</strong>
                        <p>12 meses</p>
                    </div>

                    <div>
                        <strong>Aplicação</strong>
                        <p>Universal</p>
                    </div>

                    <div>
                        <strong>Disponibilidade</strong>
                            {%if produto.estoque > 0%}
                                <p>Em estoque</p>
                            {%else%}
                                <p>
                                    Indisponível
                                </p>
                            {%endif%}
                    </div>

                </div>
            </div>
            
            <a href="{% url 'editar-produto' produto.pk%}">
            <button class="btn-secondary" style="margin-top:25px;">
              Editar
            </button>
            </a>

            <a href="{% url 'excluir-produto' produto.pk%}">
            <button class="btn-secondary" style="margin-top:25px;">
              Excluir
            </button>
        </div>
</section>
{% endblock %}