{% extends 'base.html' %}

{% block title %}
Marquinhos Autopeças
{% endblock %}

{% block content %}

    <!-- HERO -->
    <section class="hero" aria-label="Destaque principal">

        <div class="hero-text">
          <h1>
            Peças automotivas de <span>alta performance</span>
          </h1>
  
          <p>
            Encontre tudo para manutenção e upgrade do seu veículo em um só lugar.
          </p>
  
          <button class="btn-secondary" aria-label="Ver produtos disponíveis">
            Ver Produtos
          </button>
        </div>
  
      </section>

<section class="products">
    ...
</section>

{% endblock %}