<article class="card">

    <img>

    <span class="tag">
        Motor
    </span>

    <h3>
        Filtro de Ar
    </h3>

    <p>
        Descrição
    </p>

    <span>
        R$ 129,90
    </span>

</article>

<div class="product-grid">

    {% include 'components/product_card.html' %}
    {% include 'components/product_card.html' %}
    {% include 'components/product_card.html' %}

</div>

<div class="product-grid">

    {% for produto in produtos %}
        {% include 'components/product_card.html' %}
    {% endfor %}

</div>
