<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>login de usuario</h1>

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div>
            <!-- <label for="">Nome</label>
            <input name="nome" type="text"><br>
             -->
            <label for="">Email</label>
            <input name="email" type="email" placeholder="exemplo@email.com"><br>

            <label for="">Senha</label>
            <input name="senha" type="password"><br>

            <input type="submit" value="Entrar">


        </div>
    </form>
</body>
</html>