{% load static %}

<header class="header">

    <div class="logo">
        <a href="{% url 'home' %}">
            Marquinhos<span>Autopeças</span>
        </a>
    </div>

    <a href="{% url 'home' %}">Início</a>

    <div class="dropdown">
    <a href="{% url 'categorias' %}">
        Categorias <span class="arrow">▼</span>
    </a>

    <ul class="submenu">
        <li>Motor</li>
        <li>Roda</li>
        <li>Acelerador</li>
    </ul>
</div>

    <a href="{% url 'produto' %}">
        Produtos
    </a>
        <a href="{% url 'servicos' %}">
        Serviços
    </a>

    <div class="actions">
        <a href="{% url 'carrinho' %}" class="icon-btn">
        🛒
        </a>

        <a href="{% url 'perfil' %}" class="icon-btn">
        👤
        </a>

        <a href="{% url 'login_teste' %}">
            <button>Login</button>
        </a>

        <a href="{% url 'cadastro_teste' %}">
            <button class="btn-primary">
                Cadastro
            </button>
        </a>
    </div>

</header>