{% load static %}

<header class="header">

    <div class="logo">
        <a href="{% url 'home' %}">
            Marquinhos<span>Autopeças</span>
        </a>
    </div>


        <a href="{% url 'home' %}">Início</a>

        <a href="{% url 'categorias' %}">
            <ul>Categorias</ul>
                <il>Motor</il>
                <il>Roda</il>
                <il>Acelerador</i>
        </a>

        <a href="{% url 'produto' %}">
            Produtos
        </a>

        <a href="{% url 'contato' %}">
            Contato
        </a>

    </nav>

    <div class="actions">

        <a href="{% url 'carrinho' %}" class="icon-btn">
            Carrinho 🛒
        </a>

        <a href="{% url 'perfil' %}" class="icon-btn">
            Perfil 👤
        </a>

        <a href="{% url 'login' %}">
            <button>Login</button>
        </a>

        <a href="{% url 'cadastro' %}">
            <button class="btn-primary">
                Cadastro
            </button>
        </a>
    </div>

</header>